<div class="custom-card">
  <div class="img-container">
    <img [src]="product.img_path" alt="{{ product.name }}" class="img-fluid" />
    @if (product.vegan) {
    <span class="badge">
      <i class="bi bi-leaf"></i>
      <span>Vegan</span>
    </span>
    }
  </div>
  <div class="card-content">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
  </div>
  <div class="price-div">
    <h4 class="price">${{ product.price }}</h4>
    <button type="button" (click)="add($event)" aria-label="Add to cart">
      <i class="bi bi-cart"></i>
      <span>Add to Cart</span>
    </button>
  </div>
</div>