<div class="hero container-fluid p-4 position-relative d-flex flex-column justify-content-md-center">
  <div class="row align-items-center">
    <div class="col-12 col-md-5 align-self-start pt-xxl-5">
      <div class="row">
        <div class="col-12 col-lg-10">
          <div class="d-flex flex-column align-items-start">
            <span class="span-highlight">Freshly brewed daily</span>

            <h1 class="title">
              More than coffee, an experience
            </h1>

            <p class="slogan">
              Specialty coffee, carefully crafted to be enjoyed without rushing.
            </p>

            <div class="hero-cta-group d-flex gap-3 flex-wrap my-3">
              <a href="#locations" class="btn-hero-secondary">Our Locations</a>
              <a href="#menu" class="btn-hero-primary">Explore Menu</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-7 d-flex justify-content-start position-relative">
      <img src="coffee-shop.webp" alt="coffee shop" class="hero-image img-fluid z-1 position-relative" />
    </div>
  </div>
</div>