.slogan {
    font-size: 2rem;
    color: var(--color-secondary);
    font-family:
    "Playfair Display",
    system-ui,
    -apple-system,
    sans-serif;
}

.hero-image {
    border-radius: 20px;
}